[class*="col-"] {
  float: left;
  /* height: 100px;
  background-color: lightgrey; */
}

/* .maxi-container {
  width: 1170px;
  margin: auto;
} */

.jumbo {
  width: 100%;
  height: 500px;
  background-color: #18BC9B;
}

H2 {
  margin-bottom: 50px;
  text-align: center;
}
.box {
  margin: auto;
  width: 250px;
  height: 150px;
  background-color: #18BC9B;
  border-radius: 20px;
  margin-bottom: 40px;
}

.row {
  margin: auto;
  width: 800px;
}
